<!DOCTYPE html>
<html lang="en">

<head>
    <title>Miner template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
    td {
      text-align: center
    }
    </style>


</head>

<body>
    <div class="container">
        <h1>ChainAttacker:&nbsp;&nbsp;Blockchain Simulation System</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="progress">
                    <div id='LedgerProgress' class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    </div>
                </div>
                <div id='Ledger'>
                    <table id='Account' class="table table-condensed" style="border-collapse: separate; border-spacing: 10px;">
                    </table>
                </div>
                <div id='Results'>
                  <table id='RoundsSummary' class ='table table-condensed' style="border-collapse: separate; border-spacing: 10px;">
                  </table>
                </div>
            </div>
            <div class="col-md-4">
                    <br/><h3># Chains</h3>
                    <input type='number' class="form-control" placeholder=1 value=1 id='Chains'>
                    <br/><h3># Miners</h3>
                    <input type='number' class="form-control" placeholder=2 value=2 id='Miners'>
                    <br/><h3># Solved Blocks</h3>
                    <input type='number' class="form-control" placeholder=10 value=10 id='Blocks'>
                    <br/><h3>Base Attacker Power</h3>
                    <input type='number' class="form-control" placeholder=35 value=3 5 id='attackerPower'>
                    <br/><h3>Reward for Puzzle Block</h3>
                    <input type='number' class="form-control" placeholder=10 value=1 0 id='Reward'>
                    <br>
                    <input type='submit' class="btn btn-primary" onclick='sendParameters();'>

            </div>
        </div>

    </div>
</body>
<script>
Done = false
$("#RoundsSummary").append("<tr><th> # Chains </th><th> # Miners </th><th> # Blocks </th><th> Reward for Attacker Puzzle </th><th> Attacker Blocks </th><th> Other Blocks </th><th> Cost to Attacker </th><th> Attacker Profit </th></tr>")
function sendParameters() {
  Done = false
  $("#Account").empty()
  data = {
    'Chains': parseInt($("#Chains").val()),
    'Miners': parseInt($("#Miners").val()),
    'Blocks': parseInt($("#Blocks").val()),
    'AttackerPower': parseInt($("#attackerPower").val())/100,
    'Reward': parseInt($("#Reward").val())
  };

  console.log(data);
  a = setInterval(startSimulation,1000)
  $.post("http://localhost:5000/send_parameters", data, function(result) {
    clearInterval(a)
    startSimulation();
    $("#LedgerProgress").width("0%")
    $("#LedgerProgressText").text("Complete")
    alert("COMPLETE")
  })
}

function updateLedgerProgress(Found) {
  PercentageFound = parseInt(100*(Found/parseInt($("#Blocks").val())))
  $("#LedgerProgressText").text(Found+"/"+parseInt($("#Blocks").val()))
  $("#LedgerProgress").width(PercentageFound+"%")

  $("#LedgerProgress").attr("aria-valuenow",PercentageFound)
}
function startSimulation() {
  $.get('http://localhost:5000/ledger',function(result) {
    if(!Done) {
      accountInfo = eval(result)['data']['account']
      sequenceInfo = eval(result)['data']['sequence']
      //$("#Ledger").empty().append(JSON.stringify(sequenceInfo))
      // Account Table
      totalCoins = 0
      attacker = eval(result)['data']['attacker']
      $("#Account").empty().append("<tr><th>ID</th><th> Blocks Mined </th></tr>")
      totalBlocksOfOthers = 0
      totalBlocksAttacker = 0
      costToAttacker = 0
      for (var i in accountInfo) {
        ids = Object.keys(accountInfo[i])
        for(var j = 0; j < ids.length; j++) {
          if(ids[j] == attacker) {
            totalBlocksAttacker = parseInt(accountInfo[i][ids[j]]['coins']/10)
            $("#Account").append("<tr>")
            $("#Account").append("<td style='color:red'>"+ids[j] + "</td>")
            $("#Account").append("<td>"+parseInt(accountInfo[i][ids[j]]['coins']/10) + "</td>")
            //$("#Account").append("<td>"+accountInfo[i][ids[j]]['power'] + "</td>")
            $("#Account").append("</tr>")
          } else if(i == 1) {
            totalBlocksOfOthers += parseInt(accountInfo[i][ids[j]]['coins']/10)
            //$("#Account").append("<td>"+ids[j] + "</td>")
          } else {
            costToAttacker += accountInfo[i][ids[j]]['coins']
          }
          if(i == 1) {
            totalCoins += accountInfo[i][ids[j]]['coins']
          }
        }
    }
    if(totalBlocksOfOthers > 0) {
      $("#Account").append("<tr>")
      $("#Account").append("<td> Other Miners </td>")
      $("#Account").append("<td>"+totalBlocksOfOthers + "</td>")
    //  $("#Account").append("<td>"+accountInfo[i][ids[j]]['power'] + "</td>")
      $("#Account").append("</tr>")
    }
    if(costToAttacker > 0) {
      $("#Account").append("<tr>")
      $("#Account").append("<td> Cost to Attacker </td>")
      $("#Account").append("<td>"+costToAttacker + "</td>")
    //  $("#Account").append("<td>"+accountInfo[i][ids[j]]['power'] + "</td>")
      $("#Account").append("</tr>")
    }
    if ((totalBlocksAttacker - 7) >= totalBlocksOfOthers && (totalBlocksAttacker*10 - costToAttacker) > 0) {
      Done = true
      AddToResultsSummary(totalBlocksAttacker,totalBlocksOfOthers,costToAttacker)
      //$("#Results").append("<h4>Attacker won, earning "+(totalBlocksAttacker*10) + " and losing " + costToAttacker + " for a profit of " + (totalBlocksAttacker*10 - costToAttacker) +"</h4>")
    }
    if ((totalBlocksAttacker + totalBlocksOfOthers) == parseInt($("#Blocks").val())) {
      Done = true
      AddToResultsSummary(totalBlocksAttacker,totalBlocksOfOthers,costToAttacker)
      /*if(parseInt($("#Chains").val()) == 2) {
        $("#Results").append("<h4> Attacker failed, costing him " + (costToAttacker - (totalBlocksAttacker*10)) + " </h4>")
      } else {
        $("#Results").append("<h4> Control Completed, achieved " + totalBlocksAttacker + " Blocks </h4>")
      }*/
    }
    updateLedgerProgress(totalCoins/10)
  }
  })
}

function AddToResultsSummary(AttackerBlocks,OtherBlocks,AttackerCost) {
  onlyOne = (parseInt($("#Chains").val()) == 1)
  $("#RoundsSummary").append("<tr>")
    $("#RoundsSummary").append("<td>" + $("#Chains").val() + " </td>")
    $("#RoundsSummary").append("<td>" + $("#Miners").val() + " </td>")
    $("#RoundsSummary").append("<td>" + $("#Blocks").val() + " </td>")
    $("#RoundsSummary").append("<td>" + (onlyOne ? '-' : $("#Reward").val()) + " </td>")
    $("#RoundsSummary").append("<td>" + AttackerBlocks + " </td>")
    $("#RoundsSummary").append("<td>" + OtherBlocks + " </td>")
    $("#RoundsSummary").append("<td>" + (onlyOne ? '-' : AttackerCost)  + " </td>")
    $("#RoundsSummary").append("<td>" + (onlyOne ? '-' : AttackerBlocks*10 - AttackerCost) + " </td>")
    $("#RoundsSummary").append("</tr>")
}


    function startSimulation() {
        $.get('http://localhost:5000/ledger', function(result) {
            accountInfo = eval(result)['data']['account']
            sequenceInfo = eval(result)['data']['sequence']
                //$("#Ledger").empty().append(JSON.stringify(sequenceInfo))
                // Account Table
            totalCoins = 0
            attacker = eval(result)['data']['attacker']
            $("#Account").empty().append("<tr><th>ID</th><th>Chain</th><th> Money </th> <th> Power </th></tr>")
            for (var i in accountInfo) {
                ids = Object.keys(accountInfo[i])
                for (var j = 0; j < ids.length; j++) {
                    $("#Account").append("<tr cellpadding='5'>")
                    if (ids[j] == attacker) {
                        $("#Account").append("<td><p style='color:red;'>" + ids[j] + "</p></td>")
                    } else {
                        $("#Account").append("<td>" + ids[j] + "</td>")
                    }
                    $("#Account").append("<td>" + i + "</td>")
                    $("#Account").append("<td>" + accountInfo[i][ids[j]]['coins'] + "</td>")
                    $("#Account").append("<td>" + accountInfo[i][ids[j]]['power'] + "</td>")
                    $("#Account").append("</tr>")
                    totalCoins += accountInfo[i][ids[j]]['coins']
                }
            }
            updateLedgerProgress(totalCoins / 10)
        })
    }
</script>

</html>
