<!DOCTYPE html>
<html lang="en">

<head>
    <title>Miner template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>



</head>

<body>
  <div class="container">
   <h1>ChainAttacker:Blockchain Simulation System</h1>
   # Chains <input type='number' placeholder=2 value = 1 id='Chains'>
   # Miners <input type='number' placeholder=10 value = 1 id='Miners'>
   # Solved Blocks <input type='number' placeholder=30 value = 1 id='Blocks'>
   Base Attacker Power <input type='number' placeholder=35 value = 35 id='attackerPower'>
   Reward for Puzzle Block <input type='number' placeholder=10 value = 10 id='Reward'>
   <input type='submit' onclick='sendParameters()'>
   <br><br><br><br>
   <div class="progress">
  <div id='LedgerProgress' class="progress-bar" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
  <span id='LedgerProgressText'><span>
  </div>
</div>
   <div id='Ledger'>
     <table id='Account' style="border-collapse: separate; border-spacing: 10px;">
     </table>
   </div>
</div>

</body>
<script>
function sendParameters() {
  data = {
    'Chains': parseInt($("#Chains").val()),
    'Miners': parseInt($("#Miners").val()),
    'Blocks': parseInt($("#Blocks").val()),
    'AttackerPower': parseInt($("#attackerPower").val())/100,
    'Reward': parseInt($("#Reward").val())
  };

  console.log(data);
  a = setInterval(startSimulation,1000)
  $.post("http://localhost:5000/send_parameters", data, function(result) {
    clearInterval(a)
    startSimulation();
    $("#LedgerProgress").width("0%")
    $("#LedgerProgressText").text("Complete")
  })
}

function updateLedgerProgress(Found) {
  PercentageFound = parseInt(100*(Found/parseInt($("#Blocks").val())))
  $("#LedgerProgressText").text(Found+"/"+parseInt($("#Blocks").val()))
  $("#LedgerProgress").width(PercentageFound+"%")

  $("#LedgerProgress").attr("aria-valuenow",PercentageFound)
}
function startSimulation() {
  $.get('http://localhost:5000/ledger',function(result) {
    accountInfo = eval(result)['data']['account']
    sequenceInfo = eval(result)['data']['sequence']
    //$("#Ledger").empty().append(JSON.stringify(sequenceInfo))
    // Account Table
    totalCoins = 0
    attacker = eval(result)['data']['attacker']
    $("#Account").empty().append("<tr><th>ID</th><th>Chain</th><th> Blocks Mined </th></tr>")
    for (var i in accountInfo) {
      ids = Object.keys(accountInfo[i])
      totalBlocksOfOthers = 0
      costToAttacker = 0
      for(var j = 0; j < ids.length; j++) {
        if(ids[j] == attacker) {
          $("#Account").append("<tr>")
          $("#Account").append("<td style='color:red'>"+ids[j] + "</td>")
          $("#Account").append("<td>"+i+"</td>")
          $("#Account").append("<td>"+parseInt(accountInfo[i][ids[j]]['coins']/10) + "</td>")
          //$("#Account").append("<td>"+accountInfo[i][ids[j]]['power'] + "</td>")
          $("#Account").append("</tr>")
        } else if(i == 1) {
          totalBlocksOfOthers += parseInt(accountInfo[i][ids[j]]['coins']/10)
          //$("#Account").append("<td>"+ids[j] + "</td>")
        } else {
          costToAttacker += accountInfo[i][ids[j]]['coins']
        }
        if(i == 1) {
          totalCoins += accountInfo[i][ids[j]]['coins']
        }
      }
    }
    if(totalBlocksOfOthers > 0) {
      $("#Account").append("<tr>")
      $("#Account").append("<td> Other Miners </td>")
      $("#Account").append("<td> 1 </td>")
      $("#Account").append("<td>"+totalBlocksOfOthers + "</td>")
    //  $("#Account").append("<td>"+accountInfo[i][ids[j]]['power'] + "</td>")
      $("#Account").append("</tr>")
    }
    if(costToAttacker > 0) {
      $("#Account").append("<tr>")
      $("#Account").append("<td> Cost to Attacker </td>")
      $("#Account").append("<td>2</td>")
      $("#Account").append("<td>"+costToAttacker + "</td>")
    //  $("#Account").append("<td>"+accountInfo[i][ids[j]]['power'] + "</td>")
      $("#Account").append("</tr>")
    }
    updateLedgerProgress(totalCoins/10)
  })
}


</script>

</html>
